// result-table
.detailed-row
    width: 100%
    display: flex

.detailed-title
    text-align: left
    width: 180px
    font-size: 14px
    word-wrap: break-word

.detailed-text
    width: 235px
    word-wrap: break-word