.toolbar-list
    display: flex
    justify-content: flex-end
    align-items: center

.toolbar-item
    margin-right: 10px
    width: 20px
    height: 20px
    display: flex
    justify-content: center
    align-items: center
    &:last-child
        margin-right: 0px

//иконки стилизуем в файле _svg-icons